<ul class="categories">
    {% for category in site.data.categories %}
        {% assign categorysize = 0 %}
        {% for post in site.posts %}
            {% if post.categories contains category.slug %}
            {% assign categorysize = categorysize | plus: 1 %}
            {% endif %}
        {% endfor %}
        {% if categorysize == 0 %}
        {% else %}
            <li class="categories__item"><a href="{{ '/kategori/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }} ({{ categorysize }})</a></li>
        {% endif %}
    {% endfor %}
    <li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">Tüm Yazılar <span>({{ site.posts | size }})</span></a></li>
</ul>