---
layout: minimal
title: "Seriler"
permalink: /seriler
image: '/assets/img/series.png'
description: "Yazı serileri"
---

<h2>Seriler</h2>
{% for tag in site.categories %}
  <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                  {% assign m = post.date | date: "%B" %}
                  {{ post.date | date: "%d" }}
                  {% case m %}
                    {% when 'January' %}Ocak
                    {% when 'February' %}Şubat
                    {% when 'March' %}Mart
                    {% when 'April' %}Nisan
                    {% when 'May' %}Mayıs
                    {% when 'June' %}Haziran
                    {% when 'July' %}Temmuz
                    {% when 'August' %}Ağustos
                    {% when 'September' %}Eylül
                    {% when 'October' %}Ekim
                    {% when 'November' %}Kasım
                    {% when 'December' %}Aralık
                  {% endcase %}
                  {{ post.date | date: "%Y" }}
        </time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
