hr.ayrac {
    margin-top: 8rem;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.ayrac:before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.yazi_altBaslik {
    font-weight: 100;
    font-size: 1.25rem;
}

.plan-baslik{
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    text-align: center;
}

.plan-altBaslik{
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
}
@media (max-width: 800px) {
    .yazi_altBaslik {
        font-weight: 100;
        font-size: 1.125rem;
        @include centered-block();
    }
    .plan-baslik{
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .plan-altBaslik{
        font-size: 18px;
    }
}
