<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body>
    {% include svg-icons.html %} {% include header-post.html %} {% include tree-posts.html %}
    <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="time">
            {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}">
                    {% assign m = page.date | date: "%B" %}
                    {{ page.date | date: "%d" }}
                    {% case m %}
                        {% when 'January' %}Ocak
                        {% when 'February' %}Şubat
                        {% when 'March' %}Mart
                        {% when 'April' %}Nisan
                        {% when 'May' %}Mayıs
                        {% when 'June' %}Haziran
                        {% when 'July' %}Temmuz
                        {% when 'August' %}Ağustos
                        {% when 'September' %}Eylül
                        {% when 'October' %}Ekim
                        {% when 'November' %}Kasım
                        {% when 'December' %}Aralık
                    {% endcase %}
                    {{ page.date | date: "%Y" }}
              </time>
              {% endif %}
              {% if page.categories %} {% for category in page.categories reversed %} // {{ category }} {% endfor %} {% endif %}
        </div>
        <br />
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
            <hr />
            {{ content }}
        </article>

        {% include share.html %} {% include comments.html %} {% include footer.html %} {% include scripts.html %}
    </section>
</body>

</html>
